<%= form_with(model: fork, local: true) do |form| %>
  <% if fork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fork.errors.count, "error") %> prohibited this fork from being saved:</h2>

      <ul>
        <% fork.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :clean %>
    <%= form.check_box :clean %>
  </div>

  <div class="field">
    <%= form.label :table_id %>
    <%= form.text_field :table_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
