<p id="notice"><%= notice %></p>

<h1>Forks</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Clean</th>
      <th>Table</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forks.each do |fork| %>
      <tr>
        <td><%= fork.position %></td>
        <td><%= fork.clean %></td>
        <td><%= fork.table_id %></td>
        <td><%= link_to 'Show', fork %></td>
        <td><%= link_to 'Edit', edit_fork_path(fork) %></td>
        <td><%= link_to 'Destroy', fork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fork', new_fork_path %>
