<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table.name %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @table.seats %>
</p>

<p>
  <%= link_to 'Sit', sit_table_path(id: @table.id) %> |
  <% if @table.verify_all_seated? %>
    <%= link_to 'Pick Up Left Fork', pick_up_fork_path(id: @left_fork.id) %> |
    <%= link_to 'Pick Up Right Fork', pick_up_fork_path(id: @right_fork.id) %> |
  <% end %>
  <%= link_to 'Eat', eat_table_path(id: @table.id) %>
</p>

<p>
  <%= link_to 'Forks', table_forks_path(table_id: @table.id) %> |
  <%= link_to 'Edit', edit_table_path(@table) %> |
  <%= link_to 'Back', tables_path %>
</p>
